
<h1>Subsistemas</h1>

<br>
<% if @subsystems.empty? then %>
  <strong> O Ambiente ainda não possui nenhum subsistema. Para criar um, vá em algum sistema e crie a partir dele.</strong>
  <br>
<% end %>
<br>

<% @subsystems.each do |subsystem| %>
  <tr>
    <td><h4><%=link_to subsystem.name, subsystem %></h4></td>
    <td> Sistema: <%=link_to subsystem.system.name, subsystem.system %></td>
    <br>
    <td>Preço: <%= subsystem.price %></td>
    <br>
  	<td>HH: <%= subsystem.hh %></td>
  	<br>
  	<td>%: <%= subsystem.percentage %></td>
  	<br>
  	<td>$: <%= subsystem.value %></td>
    <p>
    <td><%= button_to "Deletar", subsystem, method: :delete, data: { confirm: 'Tem certeza que quer deletar esse subsistema?' } %></td></p>
  	<br>
  </tr>
<% end %>
</table>

<br />