<br>
<style>
.large_font
{
  font-size: 30pt;
}

.small_font
{
  font-size: 15pt;
}
</style>

  <span class="small_font"><%= link_to @subsystem.system.enterprise.program.name, @subsystem.system.enterprise.program %> > <%= link_to @subsystem.system.enterprise.name, @subsystem.system.enterprise %> > <%= link_to @subsystem.system.name, @subsystem.system %> > </span>  <span class="large_font"><%= @subsystem.name %></h1> </span>
<p>
<br>
  <b>Preço:</b>
  R$ <%= @subsystem.price %>
</p>

<br>

  <b>HH:</b>
  <%= @subsystem.hh %>
  <br>

  <b>Valor:</b>
  R$ <%= @subsystem.value %><br>

  <b>Porcentagem:</b>
  <%= @subsystem.percentage %> %
<br>

<% if !@subsystem.has_desagregation? && @subsystem.price == 0 then %>
  <br>
  <strong> <font color = "red">Seu subsistema não possui nenhum subsubsistema cadastrado.
  <br> Para prosseguir, voce deve decidir se esse é o nível mais desagregado (caso seja, clique em definir valores) ou se o subsistema se desagrega em um ou mais subsubsistemas (clique em criar subsubsistema).</strong></font>
  <br><br>

  <%= button_to "Definir valores", edit_subsystem_path(@subsystem), :method => "get" %>
  <%= button_to 'Criar subsubsistema', new_subsystem_subsubsystem_path(@subsystem), :method => "get" %>

<%end%>

<% if !@subsystem.has_desagregation? && @subsystem.price != 0 then %>

  <%= button_to "Editar valores", edit_subsystem_path(@subsystem), :method => "get" %>
  <% if @subsystem.plannings.empty? then %>
    <br>
    <strong><font color = "red"> Seu subsistema é o nível mais desagregado e ainda não possui nenhum planejamento. </strong></font>
    <br>
    <br>
    <%= button_to "Criar planejamento", new_subsystem_planning_path(@subsystem), :method => "get" %>
    <br>
  <%end%>
  <% if !@subsystem.plannings.empty? then %>
    <br>
    <%= link_to "Ver planejamento atual", @subsystem.plannings.last %>
    <br>
  <% end %>
<%end%>

<% if @subsystem.has_desagregation? then %>
  
  <strong> Subsubsistemas: </strong>
  <br>
  <br>
  <% @subsystem.subsubsystems.each do |subsubsystem| %>
    <strong><%= link_to subsubsystem.name, subsubsystem %></strong>
    <br>
  <%end%>
<%end%>


