.history-container
  ←
  \#{link_to @subsystem.system.area.enterprise.program.name, @subsystem.system.area.enterprise.program}
  ←
  \#{link_to @subsystem.system.area.enterprise.name, @subsystem.system.area.enterprise}
  ←
  \#{link_to @subsystem.system.area.name, @subsystem.system.area}
  ←
  \#{link_to @subsystem.system.name, @subsystem.system}
%center
  - if @subsystem.image.exists?
    = image_tag @subsystem.image.url
#edit-and-delete-section-buttons-container
  .edit-section-button= link_to 'Album', "/album/view_album?model=subsystem&id=#{@subsystem.id}", :class => "btn"
  .edit-section-button= button_to 'Editar', edit_subsystem_path(@subsystem), :class => "btn"
  .delete-section-button= button_to "Deletar subsistema", @subsystem, method: :delete, data: { confirm: 'Tem certeza que quer deletar esse subsistema?' }, :class => "btn btn-danger"
%h1.area-title= @subsystem.name
.list-item.section-details
  %br/
  .content
    %strong
      %span.percentage-number
        = @subsystem.completed
        \%
    completo
  .content
    %b Investimento:
    = number_to_currency(@subsystem.price, :unit => "R$", :separator => ",", :delimiter => ".")
  - if !@subsystem.has_desagregation?
    .content
      %b Qtd planejada:
      %br/
    .content
      = @subsystem.total_quantity
      = @subsystem.unity
  %hr/
  .content
    %b HH:
    = @subsystem.hh
  .content
    %b Valor:
    = number_to_currency(@subsystem.value, :unit => "R$", :separator => ",", :delimiter => ".")
  .content
    %b Porcentagem:
    = @subsystem.percentage
    \%
  %hr/
  = form_for(@subsystem) do |f|
    - if @subsystem.errors.any?
      #error_explanation
        %h2
          = pluralize(@subsystem.errors.count, "error")
          prohibited this product from being saved:
        %ul
          - @subsystem.errors.full_messages.each do |msg|
            %li= msg
    .content= f.label "Escolha o ponderador"
    .content= f.select :weight, options_for_select([["Valor", 0], ["HH", 2], ["Porcentagem", 1]], @subsystem.weight)
    %center
      .content
        = f.submit "Ponderar", :class => "btn btn-success"
    %br/
= button_to "Gerar relatório", subsystem_report_path(@subsystem), :class => "btn", :method => "get"
- if !@subsystem.has_desagregation? && @subsystem.price == 0 then
  %br/
  .alert.alert-error
    %button.close{"data-dismiss" => "alert", :type => "button"} &times;
    %strong/
    %center
      Esse subsistema não possui nenhum subsubsistema cadastrado. Para prosseguir, voce deve escolher se ele possui subsubsistemas ou se é o nível mais desagregado:
  %br/
  %center
    #choose-system-type-buttons
      .edit-section-button
        /= button_to "É o nível mais desagregado", edit_subsystem_path(@subsystem), :method => "get", :class => "btn btn-info"
      .delete-section-button
        = button_to "Criar subsubsistema", new_subsystem_subsubsystem_path(@subsystem), :method => "get", :class => "btn btn-success"
%hr/
- if !@subsystem.has_desagregation? && @subsystem.price != 0 then
  - if !@subsystem.plannings.empty?
    %hr/
    %span.medium_font
      Planejamento:
      %br/
      %br/
    .row
      - @subsystem.current_planning.periods.each do |period|
        .span4.list-item
          .name
            = period.number
            o período
          .content
            Quant. planejada no período: #{period.planned_quantity} #{@subsystem.unity}
          - if period.quantity != nil
            .content
              Quant. realizada no período: #{period.real_quantity} #{@subsystem.unity}
          - if @subsystem.current_period.quantity == nil && @subsystem.current_period == period
            = form_for(@subsystem.current_period) do |f|
              - if @subsystem.current_period.errors.any?
                #error_explanation
                  %h2
                    = pluralize(@subsystem.current_period.errors.count, "error")
                    prohibited this product from being saved:
                  %ul
                    - @subsystem.current_period.errors.full_messages.each do |msg|
                      %li= msg
              %hr/
              .content
                %center
                  %span.very_small_font Quant. realizada:
                  %br/
                  %br/
                  = f.number_field :quantity
                  %br/
                  = f.submit "Entrar", :class => "btn btn-success"
  - else
    %br/
    .alert.alert-error
      %button.close{"data-dismiss" => "alert", :type => "button"} &times;
      %center
        %strong Esse sistema ainda não possui planejamento
    %br/
    %center= button_to "Cadastrar planejamento", new_subsystem_planning_path(@subsystem), :method => "get", :class => "btn btn-success"
    %br/
- if @subsystem.has_desagregation? then
  .right-aligned-create-button-container
    = button_to "Criar subsubsistema", new_subsystem_subsubsystem_path(@subsystem), :method => "get", :class => "btn btn-success"
  %h2.area-subtitle SUBSUBSISTEMAS
  .row
    - @subsystem.subsubsystems.each do |subsubsystem|
      .span3.list-item
        .name= link_to subsubsystem.name, subsubsystem
        .content
          %span.percentage-number
            %b
              = subsubsystem.completed
              \%
          completo
        .content
          %b Investimento:
          = number_to_currency(subsubsystem.price, :unit => "R$", :separator => ",", :delimiter => ".")
        %hr/
        .content
          %b Quant. estimada:
          = subsubsystem.planned_quantity
          = subsubsystem.unity
        .content
          %b Quant. realizada:
          = subsubsystem.real_quantity
          = subsubsystem.unity
        %hr/
        .content
          %b HH:
          = subsubsystem.hh
        .content
          %b Porcentagem:
          = subsubsystem.percentage
          \%
        .content
          %b Valor:
          = number_to_currency(subsubsystem.value, :unit => "R$", :separator => ",", :delimiter => ".")
        %br/

        - period_number = -1
        %br
        %br
        %small
          %center
            No período
        %table
          %tr
            %td{:width => "100px"}
              %center
                %b Previsto
            %td{:width => "100px"}
              %center
                %b Realizado
          %tr
            - data = subsubsystem.avanco_fisico_ponderado
            %td{:width => "100px"}
              %center
                = "#{data.last[0][@subsystem.weight].round.to_s}%"
            %td{:width => "100px"}
              %center
                = "#{data.last[2][@subsystem.weight].round.to_s}%"
        %small
          %center
            %br
            %br
            Até o período
        %table
          %tr
            %td{:width => "100px"}
              %center
                %b Previsto
            %td{:width => "100px"}
              %center
                %b Realizado
          %tr
            %td{:width => "100px"}
              %center
                = "#{data.last[1][@subsystem.weight].round.to_s}%"
            %td{:width => "100px"}
              %center
                = "#{data.last[3][@subsystem.weight].round.to_s}%"