
<h1>Subáreas</h1>

<br>
<% if @subareas.empty? then %>
  <strong> O Ambiente ainda não possui nenhuma subárea. Para criar uma, vá em alguma área e crie a partir dela.</strong>
  <br>
<% end %>
<br>

<% @subareas.each do |subarea| %>
  <tr>
    <td><h4><%= subarea.name %></h4></td>
    <td> Área: <%=link_to subarea.area.name, subarea.area %></td>
    <br>
    <td>Preço: <%= subarea.price %></td>
    <br>
  	<td>HH: <%= subarea.hh %></td>
  	<br>
  	<td>%: <%= subarea.percentage %></td>
  	<br>
  	<td>$: <%= subarea.value %></td>
    <p>
    <td><%= button_to "Deletar", subarea, method: :delete, data: { confirm: 'Tem certeza que quer deletar essa subarea?' } %></td></p>
  	<br>
  </tr>
<% end %>
</table>

<br />