<h1>Programas</h1>
<br>
<br>


<% @programs.each do |program| %>
  <tr>
    <td>Nome: <%= program.name %></td>
    <br>
    <td>Preço: <%= program.price %></td>
    <br>
  	<td>HH: <%= program.hh %></td>
  	<br>
  	<td>%: <%= program.percentage %></td>
  	<br>
  	<td>$: <%= program.value %></td>
  	<br>
  </tr>
  <br>
  <br>
<% end %>
</table>

<%= link_to 'Novo Programa', new_program_path %>

<br />