
  <h1><%= @program.name %></h1>
<p>
  <h4>Preço: R$ <%= @program.price %></h4>
</p>

<br>

<p>
  <b>Empreendimentos:</b>
  <br>
  <br>
  <p><%= @program.enterprises.each do |enterprise| %>
  <strong><%= link_to enterprise.name, enterprise %></strong>
  <br>
  Porcentagem: <%= enterprise.percentage %>%
  <br>
  Valor: R$<%= enterprise.value %>
  <br>
  HH: <%=enterprise.hh %>  
  <br><br><br>
  <% end %>
  <br>
  <br>

 <b> <%= button_to "novo empreendimento", new_program_enterprise_path(@program), :method => "get" %>
 </p>

</p>
<br>



<%= link_to 'Editar', edit_program_path(@program) %> |
<%= link_to 'Voltar para programas', programs_path %>