
  <h1><%= @program.name %></h1>
  <strong>Preço: R$ <%= @program.price %><br>
    <font color="red"><%= @program.completed %>%</font> completo </strong>
<br>
<br>
<br>
<% if @program.enterprises.empty? then %>
  <strong><font color="red">  Esse programa ainda não possui empreendimentos</strong></font>
  <br>
  <br>
<% end %>

<% if !(@program.enterprises.empty?) then %>
<p>
  <b>Empreendimentos:</b>
  <br>
  <p><% @program.enterprises.each do |enterprise| %>
  <strong><%= link_to enterprise.name, enterprise %></strong>
  <br>
  Preço: R$<%= enterprise.price %>
  <br>
  <font color="red"><%= enterprise.completed %>%</font> completo
  <br>
  HH: <%=enterprise.hh %> 
  <br>
  Valor: R$<%= enterprise.value %>
  <br>
  Porcentagem: <%= enterprise.percentage %>%
  <br>
  <br>
  <% end %>
<%end%>

 <b> <%= button_to "Criar empreendimento", new_program_enterprise_path(@program), :method => "get" %>
 </p>

</p>
<br>



<%= link_to 'Editar', edit_program_path(@program) %> |
<%= link_to "Deletar programa", @program, method: :delete, data: { confirm: 'Tem certeza que quer deletar esse programa?' } %>