= form_for(@area) do |f|
  - if @area.errors.any?
    #error_explanation
      %h2
        = pluralize(@area.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - @area.errors.full_messages.each do |msg|
          %li= msg
  %br/
  .field
    = f.label "Nome:"
    = f.text_field :name
  %br/
  .actions
    = f.submit "OK", :class => "btn btn-success"
