
<h1>Áreas</h1>

<br><br>

<% @areas.each do |area| %>
  <tr>
    <td><h4><%= area.name %></h4></td>
    <td> Empreendimento: <%=link_to area.enterprise.name, area.enterprise %></td>
    <br>
    <td>Preço: <%= area.price %></td>
    <br>
  	<td>HH: <%= area.hh %></td>
  	<br>
  	<td>%: <%= area.percentage %></td>
  	<br>
  	<td>$: <%= area.value %></td>
    <p>
    <td><%= button_to "Deletar", area, method: :delete, data: { confirm: 'Tem certeza que quer deletar essa Area?' } %></td></p>
  	<br>
  </tr>
<% end %>
</table>

<br />
