
<h1>Áreas</h1>

<br>

<% if @areas.empty? then %>
  <strong> O sistema ainda não possui nenhuma área </strong>
  <br>
<% end %>

<br>

<% @areas.each do |area| %>
  <tr>
    <td><h4><%= link_to area.name, area %></h4></td>
    <br>
    <td>Preço: <%= area.price %></td>
    <br>
  	<td>HH: <%= area.hh %></td>
  	<br>
  	<td>%: <%= area.percentage %></td>
  	<br>
  	<td>$: <%= area.value %></td>
    <p>
    <td><%= button_to "Deletar", area, method: :delete, data: { confirm: 'Tem certeza que quer deletar essa Area?' } %></td></p>
  	<br>
  </tr>
<% end %>

<%= button_to "Criar área", new_area_path, :method => "get" %>

</table>

<br />
