<br>
<style>
.large_font
{
  font-size: 30pt;
}

.small_font
{
  font-size: 15pt;
}
</style>

<span class="large_font"><%= @area.name %> </span>
<p>
<br>
  <b>Preço:</b>
  R$ <%= @area.price %>
</p>
<br>
  <h4>Sistemas:</h4><br>
  <% @area.systems.each do |system| %>
    <strong><h4><%= link_to  system.name, system %></h4></strong>
    Preço: <%= system.price %><br>
    Porcentagem: <%= system.percentage %>%<br>
    Valor: R$<%= system.value %><br>
    HH: <%= system.hh %><br>
    <br>
  <br>
<%end%>
<br>
  <h4>Subáreas:</h4>
  <% @area.subareas.each do |subarea| %>
    <strong><%= link_to  subarea.name, subarea %></strong><br>
    Preço: <%= subarea.price %><br>
    Porcentagem: <%= subarea.percentage %>%<br>
    Valor: R$<%= subarea.value %><br>
    HH: <%= subarea.hh %><br>
    <br>
  <%end%>

<br>
<%= link_to 'Voltar para áreas', areas_path %>