.history-container
  ←
  \#{link_to @area.enterprise.program.name, @area.enterprise.program}
  ←
  \#{link_to @area.enterprise.name, @area.enterprise}
%center
  - if @area.image.exists?
    = image_tag @area.image.url
#edit-and-delete-section-buttons-container
  .edit-section-button= button_to 'Editar', edit_area_path(@area), :class => "btn"
  .delete-section-button= button_to "Deletar área", @area, method: :delete, data: { confirm: 'Tem certeza que quer deletar essa área?' }, :class => "btn btn-danger"
%h1.area-title= @area.name
.list-item.section-details
  %br/
  .content
    %b Investimento:
    = number_to_currency(@area.price, :unit => "R$", :separator => ",", :delimiter => ".")
  .content
    %span.percentage-number
      %b
        = @area.completed
        \%
    completa
  %hr/
  = form_for(@area) do |f|
    - if @area.errors.any?
      #error_explanation
        %h2
          = pluralize(@area.errors.count, "error")
          prohibited this product from being saved:
        %ul
          - @area.errors.full_messages.each do |msg|
            %li= msg
    .content
      %strong= f.label "Escolha o ponderador"
    .content= f.select :weight, options_for_select([["Valor", 1], ["HH", 2], ["Porcentagem", 3]], @area.weight)
    %center
      .content= f.submit "Ponderar", :class => "btn btn-success"
    %br/
%br/
= button_to "Gerar relatório", area_report_path(@area), :class => "btn", :method => "get"
%hr/
.right-aligned-create-button-container
  = button_to "Criar sistema", new_area_system_path(@area), :method => "get", :class => "btn btn-success"
%h2.area-subtitle SISTEMAS
Avanço Físico
- if @area.systems.empty? then
  .alert.alert-error
    %button.close{"data-dismiss" => "alert", :type => "button"} &times;
    %center
      %strong Esta área ainda não foi possui nenhum sistema!
- if !(@area.systems.empty?) then
  - @area.systems.each do |system|
    .span3.list-item
      .name= link_to system.name, system
      / .content
      /   %b Investimento:
      /   = number_to_currency(system.price, :unit => "R$", :separator => ",", :delimiter => ".")
      / .content
      /   %span.percentage-number
      /     = system.completed
      /     \%
      /   completo
      / %hr/
      / .content
      /   %b HH:
      /   = system.hh
      / .content
      /   %b Valor:
      /   = number_to_currency(system.value, :unit => "R$", :separator => ",", :delimiter => ".")
      / .content
      /   %b Porcentagem:
      /   = system.percentage
      /   \%
      / %br/
      .content
        %br
        %br
        %small
          %center
            No período
        %table
          %tr
            %td{:width => "100px"}
              %center
                %b Previsto
            %td{:width => "100px"}
              %center
                %b Realizado
          %tr
            %td{:width => "100px"}
              - sum = 0
              - system.subsystems.each do |subsystem|
                - subsystem.subsubsystems.each do |subsubsystem|
                  - period = subsubsystem.current_planning
                  - if period
                    - period = period.periods.where('quantity > 0').last
                    - a = period.planned_quantity*100/subsubsystem.planned_quantity
                    - b = subsubsystem.value * 100 / subsubsystem.system_value
                    - sum += a*b/100
              - if @area.weight == 1
                %center
                  = "#{sum.round}%"
              - sum = 0
              - system.subsystems.each do |subsystem|
                - subsystem.subsubsystems.each do |subsubsystem|
                  - period = subsubsystem.current_planning
                  - if period
                    - period = period.periods.where('quantity > 0').last
                    - a = period.planned_quantity*100/subsubsystem.planned_quantity
                    - b = subsubsystem.percentage * 100 / subsubsystem.system_percentage
                    - sum += a*b/100
              - if @area.weight == 3
                %center
                  = "#{sum.round}%"
              - sum = 0
              - system.subsystems.each do |subsystem|
                - subsystem.subsubsystems.each do |subsubsystem|
                  - period = subsubsystem.current_planning
                  - if period
                    - period = period.periods.where('quantity > 0').last
                    - a = period.planned_quantity*100/subsubsystem.planned_quantity
                    - b = subsubsystem.hh * 100 / subsubsystem.system_hh
                    - sum += a*b/100
              - if @area.weight == 2
                %center
                  = "#{sum.round}%"
            %td{:width => "100px"}
              - sum = 0
              - system.subsystems.each do |subsystem|
                - subsystem.subsubsystems.each do |subsubsystem|
                  - period = subsubsystem.current_planning
                  - if period
                    - period = period.periods.where('quantity > 0').last
                    - a = period.quantity*100/subsubsystem.planned_quantity
                    - b = subsubsystem.value * 100 / subsubsystem.system_value
                    - sum += a*b/100
              - if @area.weight == 1
                %center
                  = "#{sum.round}%"
              - sum = 0
              - system.subsystems.each do |subsystem|
                - subsystem.subsubsystems.each do |subsubsystem|
                  - period = subsubsystem.current_planning
                  - if period
                    - period = period.periods.where('quantity > 0').last
                    - a = period.quantity*100/subsubsystem.planned_quantity
                    - b = subsubsystem.percentage * 100 / subsubsystem.system_percentage
                    - sum += a*b/100
              - if @area.weight == 3
                %center
                  = "#{sum.round}%"
              - sum = 0
              - system.subsystems.each do |subsystem|
                - subsystem.subsubsystems.each do |subsubsystem|
                  - period = subsubsystem.current_planning
                  - if period
                    - period = period.periods.where('quantity > 0').last
                    - a = period.quantity*100/subsubsystem.planned_quantity
                    - b = subsubsystem.hh * 100 / subsubsystem.system_hh
                    - sum += a*b/100
              - if @area.weight == 2
                %center
                  = "#{sum.round}%"
        
        %small
          %center
            %br
            %br
            Até o período
        %table
          %tr
            %td{:width => "100px"}
              %center
                %b Previsto
            %td{:width => "100px"}
              %center
                %b Realizado
          %tr
            %td{:width => "100px"}
              - sum = 0
              - system.subsystems.each do |subsystem|
                - subsystem.subsubsystems.each do |subsubsystem|
                  - period = subsubsystem.current_planning
                  - if period
                    - period = period.periods.where('quantity > 0').last
                    - a = period.planned_until_period*100/subsubsystem.planned_quantity
                    - b = subsubsystem.value * 100 / subsubsystem.system_value
                    - sum += a*b/100
              - if @area.weight == 1
                %center
                  = "#{sum.round}%"
              - sum = 0
              - system.subsystems.each do |subsystem|
                - subsystem.subsubsystems.each do |subsubsystem|
                  - period = subsubsystem.current_planning
                  - if period
                    - period = period.periods.where('quantity > 0').last
                    - a = period.planned_until_period*100/subsubsystem.planned_quantity
                    - b = subsubsystem.percentage * 100 / subsubsystem.system_percentage
                    - sum += a*b/100
              - if @area.weight == 3
                %center
                  = "#{sum.round}%"
              - sum = 0
              - system.subsystems.each do |subsystem|
                - subsystem.subsubsystems.each do |subsubsystem|
                  - period = subsubsystem.current_planning
                  - if period
                    - period = period.periods.where('quantity > 0').last
                    - a = period.planned_until_period*100/subsubsystem.planned_quantity
                    - b = subsubsystem.hh * 100 / subsubsystem.system_hh
                    - sum += a*b/100
              - if @area.weight == 2
                %center
                  = "#{sum.round}%"
            %td{:width => "100px"}
              - sum = 0
              - system.subsystems.each do |subsystem|
                - subsystem.subsubsystems.each do |subsubsystem|
                  - period = subsubsystem.current_planning
                  - if period
                    - period = period.periods.where('quantity > 0').last
                    - a = period.made_until_period/subsubsystem.planned_quantity
                    - b = subsubsystem.value * 100 / subsubsystem.system_value
                    - sum += a*b/100
              - if @area.weight == 1
                %center
                  = "#{sum.round}%"
              - sum = 0
              - system.subsystems.each do |subsystem|
                - subsystem.subsubsystems.each do |subsubsystem|
                  - period = subsubsystem.current_planning
                  - if period
                    - period = period.periods.where('quantity > 0').last
                    - a = period.made_until_period/subsubsystem.planned_quantity
                    - b = subsubsystem.percentage * 100 / subsubsystem.system_percentage
                    - sum += a*b/100
              - if @area.weight == 3
                %center
                  = "#{sum.round}%"
              - sum = 0
              - system.subsystems.each do |subsystem|
                - subsystem.subsubsystems.each do |subsubsystem|
                  - period = subsubsystem.current_planning
                  - if period
                    - period = period.periods.where('quantity > 0').last
                    - a = period.made_until_period/subsubsystem.planned_quantity
                    - b = subsubsystem.hh * 100 / subsubsystem.system_hh
                    - sum += a*b/100
              - if @area.weight == 2
                %center
                  = "#{sum.round}%"

        %br
        %br