<div class="history-container">
  ←
  <%= link_to @area.enterprise.program.name, @area.enterprise.program %>
  ←
  <%= link_to @area.enterprise.name, @area.enterprise %>
</div>

<div id="edit-and-delete-section-buttons-container">

  <div class="edit-section-button"><%= button_to 'Editar', edit_area_path(@area), :class => "btn" %></div>
  <div class="delete-section-button"><%= button_to "Deletar área", @area, method: :delete, data: { confirm: 'Tem certeza que quer deletar essa área?' }, :class => "btn btn-danger" %></div>

</div>

<h1 class="area-title"><%= @area.name %></h1>

<div class="list-item section-details">
  <br>
  <div class="content"><b>Investimento:</b> <%= number_to_currency(@area.price, :unit => "R$") %></div>
  <div class="content"><span class="percentage-number"><b><%= @area.completed %>%</b></span> completa</div>
  <hr>
  <%= form_for(@area) do |f| %>
    <% if @area.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@area.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
        <% @area.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="content"><strong><%= f.label "Escolha o ponderador" %></strong></div>
    <div class="content"><%= f.select :weight, options_for_select([["Valor", 1], ["HH", 2], ["Porcentagem", 3]], @area.weight) %></div>
    <center><div class="content"><%= f.submit "Ponderar", :class => "btn btn-success" %></div></center>
    <br>
  <% end %>
  </br>
</div>
<br>
<%= button_to "Gerar relatório", area_report_path(@area), :class => "btn", :method => "get" %>
<hr>


<div class="right-aligned-create-button-container">
  <%= button_to "Criar sistema", new_area_system_path(@area), :method => "get", :class => "btn btn-success" %>
</div>

<h2 class="area-subtitle">SISTEMAS</h2>

<% if @area.systems.empty? then %>
  <div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <center><strong>Esta área ainda não foi possui nenhum sistema!</strong></center>
  </div>
<% end %>

<% if !(@area.systems.empty?) then %>
  <% @area.systems.each do |system| %>

    <div class="span3 list-item">
      <div class="name"><%= link_to system.name, system %></div>
      <div class="content"><b>Investimento:</b><%= number_to_currency(system.price, :unit => "R$") %></div>
      <div class="content"><span class="percentage-number"><%= system.completed %>%</span> completo</div>
      <hr>
      <div class="content"><b>HH:</b> <%=system.hh %></div>
      <div class="content"><b>Valor:</b> <%= number_to_currency(system.value, :unit => "R$") %></div>
      <div class="content"><b>Porcentagem:</b> <%= system.percentage %>%</div>
      <br>
    </div>
  <% end %>
<%end%>