<h2 class="area-title">EMPREENDIMENTOS</h2>


<% if @enterprises.empty? then %>
 <div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
<strong>O sistema ainda não possui empreendimentos. Para criar um, vá em um programa e crie a partir dele.</strong>
</div>
<%end%>
<div class="row">
<% @enterprises.each do |enterprise| %>
  <div class="span3 list-item">
    <div class="name"><%=link_to enterprise.name, enterprise %></div>
    <div class="content"><b>Programa:</b> <%= link_to enterprise.program.name, enterprise.program %></div>
    <div class="content"><b>Investimento:</b> <%= enterprise.price %></div>
    <hr>
    <div class="content"><b>HH:</b> <%= enterprise.hh %></div>
    <div class="content"><b>%:</b> <%= enterprise.percentage %></div>
    <div class="content"><b>$:</b> <%= enterprise.value %></div>

    <div class="delete-button">
      <%= button_to "Deletar", enterprise, method: :delete, data: { confirm: 'Tem certeza que quer deletar esse empreendimento?' }, :class => "btn btn-danger" %>
    </div>
  </div>
<% end %>
</div>
<br>