<br>
<style>
.large_font
{
  font-size: 30pt;
}

.small_font
{
  font-size: 15pt;
}
</style>

  <span class="small_font"><%= link_to @enterprise.program.name, @enterprise.program %></span> > <span class="large_font"><%= @enterprise.name %></h1> </span>
<p>
<br>
  <b>Preço:</b>
  R$ <%= @enterprise.price %>
</p>

<br>

<p>
  <b>HH:</b>
  <%= @enterprise.hh %>
</p>

<p>
  <b>Valor:</b>
  R$ <%= @enterprise.value %>
</p>

<p>
  <b>Porcentagem:</b>
  <%= @enterprise.percentage %> %
</p>
<br>

<% if @enterprise.systems.empty? then %>
  <strong><font color = "red"> Esse empreendimento ainda não possui nenhum sistema. </strong></font>
  <br>
  <br>
<%end%>

<% if !(@enterprise.systems.empty?) then %>
  <p>
  <h4>Sistemas:</h4><br>
  <p><% @enterprise.systems.each do |system| %>
    <h4><%= link_to system.name, system %></h4>
    Preço: R$<%= system.price %><br>
    Porcentagem: <%= system.percentage %>%<br>
    Valor: R$<%= system.value %><br>
    HH: <%= system.hh %>
  <% end %>
<%end%>
<br>
<br>
<b> <%= button_to "Criar sistema", new_enterprise_system_path(@enterprise), :method => "get" %>
</p>

</p>
<br>



<%= link_to 'Editar', edit_enterprise_path(@enterprise) %> |
<%= link_to 'Voltar para empreendimentos', enterprises_path %>