<br>
<style>
.large_font
{
  font-size: 30pt;
}

.small_font
{
  font-size: 15pt;
}
</style>

  <span class="small_font"><%= link_to @enterprise.program.name, @enterprise.program %></span> > <span class="large_font"><%= @enterprise.name %></h1> </span>
<p>
<br>
  <b>Preço:</b>
  R$ <%= @enterprise.price %>
</p>

<br>

<p>
  <b>HH:</b>
  <%= @enterprise.hh %>
</p>

<p>
  <b>Valor:</b>
  R$ <%= @enterprise.value %>
</p>

<p>
  <b>Porcentagem:</b>
  <%= @enterprise.percentage %> %
</p>
<br>

<p>
  <b>Lista de areas:</b>
  <br>
  <p><%= @enterprise.areas.each do |area| %>
  <%= link_to(area) do %>
  <strong><%= area.name %></strong>
  <br>
<% end %>
 <% end %>

 <b> <%= link_to "nova area", new_enterprise_area_path(@enterprise) %>
 </p>

</p>
<br>



<%= link_to 'Editar', edit_enterprise_path(@enterprise) %> |
<%= link_to 'Voltar para empreendimentos', enterprises_path %>