<div class="history-container">
  ←
  <%= link_to @enterprise.program.name, @enterprise.program %>
</div>

<div id="edit-and-delete-section-buttons-container">

  <div class="edit-section-button"><%= button_to 'Editar', edit_enterprise_path(@enterprise), :class => "btn" %></div>
  <div class="edit-section-button"><%= button_to "Deletar empreendimento", @enterprise, method: :delete, data: { confirm: 'Tem certeza que quer deletar esse empreendimento?' }, :class => "btn btn-danger" %></div>

</div>

<div class="area-title"><%= @enterprise.name %></div>


<div class="list-item section-details">

  <br>

  <div class="content"><b>Investimento:</b> <%= number_to_currency(@enterprise.price, :unit => "R$") %></div>
  <div class="content"><strong><span class="percentage-number"><%= @enterprise.completed %>%</span> completo</strong></div>

  <hr>

  <div class="content"><b>HH:</b> <%= @enterprise.hh %></div>
  <div class="content"><b>Valor:</b> <%= number_to_currency(@enterprise.value, :unit => "R$") %></div>
  <div class="content"><b>Porcentagem:</b> <%= @enterprise.percentage %>%</div>

  <hr>

  <%= form_for(@enterprise) do |f| %>
    <% if @enterprise.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@enterprise.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
        <% @enterprise.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="content"><%= f.label "Escolha o ponderador" %></div>
    <div class="content"><%= f.select :weight, options_for_select([["Valor", 1], ["HH", 2], ["Porcentagem", 3]], @enterprise.weight) %></div>
    <center><div class="content"><%= f.submit "Ponderar", :class => "btn btn-success" %></div></center>

    <br>
<% end %>

</div>

<hr>


<div class="right-aligned-create-button-container">
  <%= button_to "Criar sistema", new_enterprise_system_path(@enterprise), :method => "get", :class => "btn btn-success" %>
</div>

<h2 class="area-subtitle">SISTEMAS</h2>

<% if @enterprise.systems.empty? then %>
  <br>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <center><strong>Este empreendimento ainda não possui nenhum sistema cadastrado!</strong></center>
  </div>
<%end%>

<% if !(@enterprise.systems.empty?) then %>
  
  <div class="row">
  <% @enterprise.systems.each do |system| %>
    <div class="span3 list-item">
      <div class="name"><%= link_to system.name, system %></div>
      <div class="content"><span class="percentage-number"><b><%= system.completed%>%</b> </span>completo</div>
      <div class="content"><b>Investimento:</b><%= number_to_currency(system.price, :unit => "R$") %></div>

      <hr>

      <div class="content"><b>HH:</b> <%= system.hh %></div>
      <div class="content"><b>Valor:</b><%= number_to_currency(system.value, :unit => "R$") %></div>
      <div class="content"><b>Porcentagem:</b> <%= system.percentage %>%</div>
      <br>
    </div>

  <% end %>
  </div>
<%end%>
<br>
<br>