
<h1>Subsubsistemas</h1>


<br>
<% if @subsubsystems.empty? then %>
  <strong> O Ambiente ainda não possui nenhum subsubsistema. Para criar um, vá em algum subsistema e crie a partir dele.</strong>
  <br>
<% end %>
<br>

<% @subsubsystems.each do |subsubsystem| %>
  <tr>
    <td><h4><%= link_to subsubsystem.name, subsubsystem %></h4></td>
    <td>Preço: <%= subsubsystem.price %></td>
    <br>
  	<td>HH: <%= subsubsystem.hh %></td>
  	<br>
  	<td>%: <%= subsubsystem.percentage %></td>
  	<br>
  	<td>$: <%= subsubsystem.value %></td>
    <br>
    <p>
    <td><%= button_to "Deletar", subsubsystem, method: :delete, data: { confirm: 'Tem certeza que quer deletar esse subsubsistema?' } %> </td></p>
  	<br>
  </tr>
  <br>
  <br>
<% end %>
</table>

<br />