<br>
<style>
.large_font
{
  font-size: 30pt;
}

.small_font
{
  font-size: 15pt;
}
</style>
<center>
  <span class="small_font"><%= link_to @subsubsystem.subsystem.system.enterprise.program.name, @subsubsystem.subsystem.system.enterprise.program %> > <%= link_to @subsubsystem.subsystem.system.enterprise.name, @subsubsystem.subsystem.system.enterprise %> > <%= link_to @subsubsystem.subsystem.system.name, @subsubsystem.subsystem.system %> > <%=link_to @subsubsystem.subsystem.name, @subsubsystem.subsystem %> > </span>  <span class="large_font"><%= @subsubsystem.name %></h1> </span>
<br>
<br>
<br>
<div class="row">
  <div class="span4">
    <b>Preço:</b>
    R$ <%= @subsubsystem.price %>
    <br>
    <strong> <font color= "red"><%=@subsubsystem.completed%>% </font> </strong>completo
    <br>
    <b>Quantidade total planejada:</b>
    <%= @subsubsystem.planned_quantity %> <%=@subsubsystem.unity%>
  </div>
  <div class="span4">
    <b>HH:</b><%=@subsubsystem.hh%>
    <br>
    <b>Valor:</b> R$<%=@subsubsystem.value%>
    <br>
    <b>Porcentagem:</b> <%=@subsubsystem.percentage%>%
  </p>
  <br>
  </div>
  <div class = "span4">
  <%= form_for(@subsubsystem) do |f| %>
  <% if @subsubsystem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subsubsystem.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @subsubsystem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Escolha o ponderador" %>
    <%= f.select :weight, options_for_select([["Valor", 1], ["HH", 2], ["Porcentagem", 3]], @subsubsystem.weight) %>
  </div>
  <div class="actions">
    <%= f.submit "Ponderar", :class => "btn btn-success" %>
  </div>
<% end %>
</div>
</div>
</center>
<br>
<br>
</center>
<% if @subsubsystem.plannings.empty? then %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <center>
    <strong>Esse subsubsistema ainda não possui planejamento </strong>
    </div>
    </center>
    <br>
    <center><%= button_to "Cadastrar planejamento", new_subsubsystem_planning_path(@subsubsystem), :method => "get", :class => "btn btn-success" %></center>
    <br>
<%end%>
<% if !@subsubsystem.plannings.empty? then %>
    <br>
    <% @subsubsystem.current_planning.periods.each do |period| %>
    <%= period.number %>o periodo <br><br>
    Quantidade planejada: <%= period.planned_quantity %> <br>
    <%if period.quantity != nil %>
      Quantidade realizada: <%= period.quantity %>
    <%end %>
    <%if period.quantity == nil %>
      <%= button_to "Entrar com quantidade realizada do período", edit_period_path(period), method: :get %>
    <%end%>
    <br>
    </span>
    <br>
    <%end%>
<% end %>

<center><strong>
<%= link_to 'Editar', edit_subsubsystem_path(@subsubsystem) %> |
<%= link_to "Deletar subsubsistema", @subsubsystem, method: :delete, data: { confirm: 'Tem certeza que quer deletar esse subsubsistema?' } %>
</center></strong>
