<br>
<style>
.large_font
{
  font-size: 30pt;
}

.small_font
{
  font-size: 15pt;
}
</style>

  <span class="small_font"><%= link_to @subsubsystem.subsystem.system.enterprise.program.name, @subsubsystem.subsystem.system.enterprise.program %> > <%= link_to @subsubsystem.subsystem.system.enterprise.name, @subsubsystem.subsystem.system.enterprise %> > <%= link_to @subsubsystem.subsystem.system.name, @subsubsystem.subsystem.system %> > <%=link_to @subsubsystem.subsystem.name, @subsubsystem.subsystem %> > </span>  <span class="large_font"><%= @subsubsystem.name %></h1> </span>
<p>
<br>
  <b>Preço:</b>
  R$ <%= @subsubsystem.price %>
</p>

<br>

<p>
  <b>HH:</b>
  <%= @subsubsystem.hh %>
</p>

<p>
  <b>Valor:</b>
  R$ <%= @subsubsystem.value %>
</p>

<p>
  <b>Porcentagem:</b>
  <%= @subsubsystem.percentage %> %
</p>
<br>
<%= button_to 'Editar valores', edit_subsubsystem_path(@subsubsystem), :method => "get" %>
<br>
<% if @subsubsystem.plannings.empty? then %>
  <strong><font color = "red"> Seu subsubsistema ainda não possui nenhuma entrada (período). </strong></font>
  <br>
  <br>
  <%= button_to "Entrar com dados do período", new_subsubsystem_planning_path(@subsubsystem), :method => "get" %>
  <br>
<%end%>
<% if !@subsubsystem.plannings.empty? then %>
  <b>Quantidade realizada até o período:</b>
  <%= @subsubsystem.accomplished_quantity %> <%=@subsubsystem.unity%> (<b><font color = "red"><%=@subsubsystem.quantity_percentage%>%</font></b>)
  <br>
  <b>Quantidade planejada até o período:</b>
  <%= @subsubsystem.planned_quantity %> <%=@subsubsystem.unity%>
  <br>
  <br>
  <b>Quantidade planejada no período:</b> <%= @subsubsystem.plannings.last.planned_quantity %> <%=@subsubsystem.unity%> <br>
  <b>Quantidade realizada no período:</b> <%= @subsubsystem.plannings.last.quantity %> <%=@subsubsystem.unity%> (<b><font color = "red"><%= @subsubsystem.plannings.last.quantity_percentage %>%</font></b>)
  <br>
  <br>
  <% if @subsubsystem.current_planning.days_left != -1 then %>
    O atual período é o <%= @subsubsystem.plannings.count %>o e <b><font color="red">faltam <%= @subsubsystem.current_planning.days_left %> dias</b></font> para o término dele.
  <%end%>
  <% if @subsubsystem.current_planning.days_left == -1 then %>
    <b><font color="red"> O <%= @subsubsystem.plannings.count %>o período terminou, crie um novo período: </font></b>
    <Br>
    <br>
    <%= button_to "Novo período", new_subsubsystem_planning_path(@subsubsystem), :method => "get" %>
  <% end %>
<% end %>
