<div class="history-container">
  ←
  <%= link_to @subsubsystem.subsystem.system.enterprise.program.name, @subsubsystem.subsystem.system.enterprise.program %>
  ←
  <%= link_to @subsubsystem.subsystem.system.enterprise.name, @subsubsystem.subsystem.system.enterprise %>
  ←
  <%= link_to @subsubsystem.subsystem.system.name, @subsubsystem.subsystem.system %>
  ←
  <%=link_to @subsubsystem.subsystem.name, @subsubsystem.subsystem %>
</div>

<div id="edit-and-delete-section-buttons-container">

  <div class="edit-section-button"><%= button_to 'Editar', edit_subsubsystem_path(@subsubsystem), :class => "btn" %></div>
  <div class="delete-section-button"><%= button_to "Deletar subsubsistema", @subsubsystem, method: :delete, data: { confirm: 'Tem certeza que quer deletar esse subsubsistema?' }, :class => "btn btn-danger" %></div>

</div>

<h1 class="area-title"><%= @subsubsystem.name %></h1>

<div class="list-item section-details">

  <br>

  <div class="content"><b>Investimento:</b> <%= number_to_currency(@subsubsystem.price, :unit => "R$") %></div>
  <div class="content"><span class="percentage-number"><b><%=@subsubsystem.completed%>%</b></span> completo</div>
  <hr>
  <div class="content"><b>Quant. total planejada:</b> <%= @subsubsystem.planned_quantity %> <%=@subsubsystem.unity%></div>
  <div class="content"><b>Quant. total realizada:</b> <%= @subsubsystem.real_quantity %> <%=@subsubsystem.unity%></div>

  <hr>

  <div class="content"><b>HH:</b><%=@subsubsystem.hh%></div>
  <div class="content"> <b>Valor:</b> <%=number_to_currency(@subsubsystem.value, :unit => "R$")%></div>
  <div class="content"><b>Porcentagem:</b> <%=@subsubsystem.percentage%>%</div>
<br>
</div>
<br>

<% if !@subsubsystem.plannings.empty? %>
    <hr>
    <span class="medium_font"> Planejamento:<br><br></span>
    <div class="row">
  
  <% @subsubsystem.current_planning.periods.each do |period| %>
  <div class="span4 list-item">
      <div class="name"> <%= period.number %>o período </div>
      <% if @subsubsystem.current_planning.periods.first.quantity != nil %>
      <div class="content">Data de início:<span class="date"> <%= period.begin_date.to_formatted_s(:rfc822)  %> </div></span>
      <div class="content">Data de término: <span class="date"><%= period.end_date.to_formatted_s(:rfc822)  %> </div></span>
      <hr>
      <% end %>
      <div class="content"> Quant. prevista no período: <%= period.planned_quantity %> <%= @subsubsystem.unity %> (<span class="percentage-number"><%= (period.planned_quantity*100/@subsubsystem.planned_quantity).round %>%</span>)</div>
      <% if period.quantity != nil %>
        <div class="content"> Quant. realizada no período: <%= period.real_quantity %> <%= @subsubsystem.unity%> (<span class = "percentage-number"><%= (period.real_quantity*100/@subsubsystem.planned_quantity).round %>%</span>)</div>
        <hr>
         <div class="content"> Quant. prev. até o período: <%= period.planned_until_period %> <%= @subsubsystem.unity%> (<span class="percentage-number"><%= (period.planned_until_period*100/@subsubsystem.planned_quantity).round %>%</span>)</div>
         <div class="content"> Quant. real. até o período: <%= period.real_until_period %> <%= @subsubsystem.unity%> (<span class="percentage-number"><%= (period.real_until_period*100/@subsubsystem.planned_quantity).round %>%</span>)</div>
         <br>
      <%end%>
      <% if @subsubsystem.current_period.quantity == nil && @subsubsystem.current_period == period %>
          <%= form_for(@subsubsystem.current_period) do |f| %>
            <% if @subsubsystem.current_period.errors.any? %>
              <div id="error_explanation">
              <h2><%= pluralize(@subsubsystem.current_period.errors.count, "error") %> prohibited this product from being saved:</h2>
              <ul>
              <% @subsubsystem.current_period.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
              </div>
            <% end %>
            <hr>
            <div class = "content">
            <center><span class = "very_small_font"> Quant. realizada:</span><br><br>
            <%= f.number_field :quantity %>
            <br><%= f.submit "Entrar", :class => "btn btn-success" %></center>
            </div>
          <% end %>
        <%end%>
      </div>
      <%end%>
    </div>
  </center>
<% else %>
  <br>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <center>
    <strong>Esse subsubsistema ainda não possui planejamento </strong>
    </div>
    </center>
    <br>
    <center><%= button_to "Cadastrar planejamento", new_subsubsystem_planning_path(@subsubsystem), :method => "get", :class => "btn btn-success" %></center>
    <br>
<%end%>
<br><br><br>