<%= form_for(@system) do |f| %>
  <% if @system.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@system.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @system.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Preço" %>
    <%= f.number_field :price %>
  </div>
  <br>
  <strong><h5> Ponderadores: </strong> </h5>
  <div class="field">
    <%= f.label "HH" %>
    <%= f.number_field :hh %>
  </div>
  <div class="field">
    <%= f.label "Valor" %>
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label "Porcentagem" %>
    <%= f.number_field :percentage %>
  </div>
  <Br>
  <div class="actions">
    <%= f.submit "OK" %>
  </div>
<% end %>
