
<h1 class="area-title">SISTEMAS</h1>

<br>
<% if @systems.empty? then %>
  <strong> O Ambiente ainda não possui nenhum sistema cadastrado. Para criar um, vá em algum empreendimento e crie a partir dele.</strong>
  <br>
<% end %>
<br>

<% @systems.each do |system| %>

  <div class="span3 list-item">

    <div class="name"><%= link_to system.name, system %></div>
    <div class="content"><b>Área:</b> <%=link_to system.area.name, system.area %></div>
    <hr>
    <div class="content"><span class="percentage-number"><strong><%= system.completed %>%</span> completo</div></strong>
    <div class="content"><b>Investimento:</b> <%= number_to_currency(system.price, :unit => "R$") %></div>
    <hr>
    <div class="content"><b>HH:</b> <%= system.hh %></div>
    <div class="content"><b>Porcentagem:</b> <%= system.percentage %></div>
    <div class="content"><b>Valor:</b> <%= number_to_currency(system.value, :unit => "R$") %></div>
    <br>
    <div class="delete-button"><%= button_to "Deletar", system, method: :delete, data: { confirm: 'Tem certeza que quer deletar esse sistema?' }, :class => "btn btn-danger" %></div>
  </div>


<% end %>
