
<h1>Sistemas</h1>

<br>
<% if @systems.empty? then %>
  <strong> O Ambiente ainda não possui nenhum sistema cadastrado. Para criar um, vá em algum empreendimento e crie a partir dele.</strong>
  <br>
<% end %>
<br>

<% @systems.each do |system| %>
  <tr>
    <td><h4><%= link_to system.name, system %></h4></td>
    <br>
    <td>Empreendimento: <%=link_to system.enterprise.name, system.enterprise %>
    <br>
    <td>Preço: <%= system.price %></td>
    <br>
  	<td>HH: <%= system.hh %></td>
  	<br>
  	<td>%: <%= system.percentage %></td>
  	<br>
  	<td>$: <%= system.value %></td>
    <p>
    <td><%= button_to "Deletar", system, method: :delete, data: { confirm: 'Tem certeza que quer deletar esse sistema?' } %></td></p>
  	<br>
  </tr>
<% end %>
</table>

<br />
