<div class="history-container">

  ←
  <%= link_to @system.enterprise.program.name, @system.enterprise.program %> 
  ←
  <%= link_to @system.enterprise.name, @system.enterprise %>

</div>
  
<div id="edit-and-delete-section-buttons-container">
  <div class="edit-section-button"><%= button_to 'Editar', edit_system_path(@system) , :class => "btn" %></div>
  <div class="delete-section-button"><%= button_to "Deletar sistema", @system, method: :delete, data: { confirm: 'Tem certeza que quer deletar esse sistema?' }, :class => "btn btn-danger" %></div>
</div>

<div class="area-title"><%= @system.name %></div>

<div class="list-item section-details">
  <br>
  <div class="content"><b>Investimento:</b> <%= number_to_currency(@system.price, :unit => "R$") %></div>
  <div class="content"><strong><span class="percentage-number"><%= @system.completed %>%</span></strong> completo</div>

  <hr>

  <div class="content"><b>HH: </b><%=@system.hh%></div>
  <div class="content"><b>Valor:</b> <%=number_to_currency(@system.value, :unit => "R$")%></div>
  <div class="content"><b>Porcentagem:</b> <%=@system.percentage%>%</div>
  <hr>

  <%= form_for(@system) do |f| %>
    <% if @system.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@system.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
        <% @system.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="content"><strong><%= f.label "Escolha o ponderador" %></strong></div>
    <div class="content"><%= f.select :weight, options_for_select([["Valor", 1], ["HH", 2], ["Porcentagem", 3]], @system.weight) %></div>
    <center><div class="content"><%= f.submit "Ponderar", :class => "btn btn-success" %></div></center>
    <br>
  <% end %>

</div>

  <span class="small_font">Área(s): 
  <% @system.areas.each do |area| %>
    <%= link_to area.name, area %><%if @system.areas.last != area%>,<%end%>
  <% end %>
  <br> </span>

<% if !@system.has_desagregation? && @system.price == 0 then %>
  <br>
  <div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong><center>Esse sistema não possui nenhum subsistema cadastrado. Para prosseguir, voce deve escolher se ele possui subsistemas ou se é o nível mais desagregado:</strong></center></div>
  <br>
  <div id="choose-system-type-buttons">
    <div class = "edit-section-button">
    <%= button_to "É o nível mais desagregado", edit_system_path(@system), :method => "get", :class => "btn btn-info"%>
    </div>
    <div class = "delete-section-button">
    <%= button_to "Criar subsistema", new_system_subsystem_path(@system), :method => "get", :class => "btn btn-success" %>
    </div>
  </div>
<%end%>

<% if !@system.has_desagregation? && @system.price != 0 then %>
  <% if !@system.plannings.empty? %>
    <hr>
    <span class="medium_font"> Planejamento:<br><br></span>
    <div class="row">
  
    <% @system.current_planning.periods.each do |period| %>
      <div class="span4 list-item">
      <div class="name"> <%= period.number %>o período </div>
      <div class="content"> Quant. planejada no período: <%= period.planned_quantity %> <%= @system.unity %></div>
      <% if period.quantity != nil %>
        <div class="content"> Quant. realizada no período: <%= period.real_quantity %> <%= @system.unity %></div>
      <%end%>
      <% if @system.current_period.quantity == nil && @system.current_period == period %>
          <%= form_for(@system.current_period) do |f| %>
            <% if @system.current_period.errors.any? %>
              <div id="error_explanation">
              <h2><%= pluralize(@system.current_period.errors.count, "error") %> prohibited this product from being saved:</h2>
              <ul>
              <% @system.current_period.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
              </div>
            <% end %>
            <hr>
            <div class = "content">
            <center><span class = "very_small_font"> Quant. realizada:</span><br><br>
            <%= f.number_field :quantity %>
            <br><%= f.submit "Entrar", :class => "btn btn-success" %></center>
            </div>
          <% end %>
      <%end%>
      </div>
    <%end%>
    </div>
  </center>
<% else %>
  <br>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <center>
    <strong>Esse sistema ainda não possui planejamento </strong>
    </div>
    </center>
    <br>
    <center><%= button_to "Cadastrar planejamento", new_system_planning_path(@system), :method => "get", :class => "btn btn-success" %></center>
    <br>
<%end%>
<%end %>


<% if @system.has_desagregation? then %>

  <hr>
  <div class="right-aligned-create-button-container">
  <%= button_to "Criar subsistema", new_system_subsystem_path(@system), :method => "get", :class => "btn btn-success" %>
</div>
  <h2 class="area-subtitle">SUBSISTEMAS</h2>
  

  <div class="row">
  <% @system.subsystems.each do |subsystem| %>
    <div class="span3 list-item">
      <div class="name"><%= link_to subsystem.name, subsystem %></div>
      <div class="content"><span class="percentage-number"><strong><%= subsystem.completed %>%</strong></span> completo</div>
      <hr>
      <div class="content"><strong>HH:</strong> <%= subsystem.hh %></div>
      <div class="content"><strong>Porcentagem:</strong> <%= subsystem.percentage %>%</div>
      <div class="content"><strong>Valor:</strong><%= number_to_currency(subsystem.price, :unit => "R$") %></div>
      <br>
    </div>
  <%end%>
  </div>
<%end%>

<br>


