<br>
<style>
.large_font
{
  font-size: 30pt;
}

.small_font
{
  font-size: 15pt;
}
</style>

  <span class="small_font"><%= link_to @system.enterprise.program.name, @system.enterprise.program %> > <%= link_to @system.enterprise.name, @system.enterprise %> > </span> <span class="large_font"><%= @system.name %></h1> </span>
<p>
<br>
  <b>Preço:</b>
  R$ <%= @system.price %>
  <br>
  <br>
  <b>HH:</b>
  <%= @system.hh %>
  <br>
  <b>Valor:</b>
  R$ <%= @system.value %>
  <br>
  <b>Porcentagem:</b>
  <%= @system.percentage %> %
</p>
<br>

<% if !@system.has_desagregation? && @system.price == 0 then %>
  <br>
  <strong> <font color = "red">Seu sistema nao possui nenhum subsistema cadastrado.
  <br> Para prosseguir, voce deve decidir se esse é o nível mais desagregado (caso seja, clique em definir valores) ou se o sistema se desagrega em um ou mais subsistemas (clique em criar subsistema).</strong></font>
  <br><br>

  <%= button_to "Definir valores", edit_system_path(@system), :method => "get" %>
  <%= button_to 'Criar subsistema', new_system_subsystem_path(@system), :method => "get" %>

<%end%>

<% if !@system.has_desagregation? && @system.price != 0 then %>

  <%= button_to "Editar valores", edit_system_path(@system), :method => "get" %>
  <% if @system.plannings.empty? then %>
    <br>
    <strong><font color = "red"> Seu sistema é o nível mais desagregado e ainda não possui nenhum planejamento. </strong></font>
    <br>
    <br>
    <%= button_to "Criar planejamento", new_system_planning_path(@system), :method => "get" %>
    <br>
  <%end%>
  <% if !@system.plannings.empty? then %>
    <br>
    <%= link_to "Ver planejamento atual", @system.plannings.last %>
    <br>
  <% end %>
<%end%>

<% if @system.has_desagregation? then %>
  
  <strong> Subsistemas: </strong>
  <br>
  <br>
  <% @system.subsystems.each do |subsystem| %>
    <strong><%= link_to subsystem.name, subsystem %></strong>
    <br>
  <%end%>
<%end%>


