<br>
 <center> <span class="small_font"><%= link_to @system.enterprise.program.name, @system.enterprise.program %> > <%= link_to @system.enterprise.name, @system.enterprise %> > </span> <span class="large_font"><%= @system.name %></h1> </span>
<p>
<br>
<br>
<div class="row">
  <div class="span4">
  <br>
    <b>Preço:</b>
    R$ <%= @system.price %>
    <br>
    <b>Área(s):</b><% @system.areas.each do |area| %> <%= link_to area.name, area %>, <% end %>
    <br> 
    <strong> <font color= "red"><%=@system.completed%>% </font> </strong>completo
    <br>
  </div>
  <div class="span4">
    <br>
    <b>HH:</b><%=@system.hh%>
    <br>
    <b>Valor:</b> R$<%=@system.value%>
    <br>
    <b>Porcentagem:</b> <%=@system.percentage%>%
  </div>
<div class= "span4">
<%= form_for(@system) do |f| %>
  <% if @system.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@system.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @system.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Escolha o ponderador" %>
    <%= f.select :weight, options_for_select([["Valor", 1], ["HH", 2], ["Porcentagem", 3]], @system.weight) %>
  </div>
  <div class="actions">
    <%= f.submit "Ponderar", :class => "btn btn-success" %>
  </div>
<% end %>
</div>
</div>
</center>
<br>
<% if !@system.has_desagregation? && @system.price == 0 then %>
  <br>
  <div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong><center>Esse sistema não possui nenhum subsistema cadastrado. Para prosseguir, voce deve escolher uma das opcões abaixo:</strong></center></div>
  <br>
  <br><center>
      <%= button_to "Definir valores", edit_system_path(@system), :method => "get", :class => "btn btn-info"%>
      <%= button_to 'Criar subsistema', new_system_subsystem_path(@system), :method => "get", :class => "btn btn-success" %></center>
      <br><br>
<%end%>

<% if !@system.has_desagregation? && @system.price != 0 then %>
  <br>

  <% if @system.plannings.empty? then %>
    <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <center>
    <strong>Esse sistema é o nível mais desagregado e ainda não possui nenhum período cadastrado </strong>
    </div>
    </center>
    <br>
    <center><%= button_to "Entrar com dados do período", new_system_planning_path(@system), :method => "get", :class => "btn btn-success" %></center>
    <br>
  <%end%>
  <% if !@system.plannings.empty? then %>

  <% if @system.current_planning.days_left != -1 then %>
    <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
     <strong> O <%= link_to "atual período", @system.current_planning %> é o <%= @system.plannings.count %>º e <b><span class="small_font">faltam <%= @system.current_planning.days_left %> dias</b></span> para o término dele. </strong>
    </div>
    <%end%>
    <% if @system.current_planning.days_left == -1 then %>
      <b><font color="red"> O <%= @system.plannings.count %>o período terminou, crie um novo período: </font></b>
      <Br>
      <br>
      <%= button_to "Novo período", new_system_planning_path(@system), :method => "get" %>
    <% end %>
    <center>
    <br>
    <span class="very_small_font">
    <b>Quantidade planejada no período:</b> <%= @system.plannings.last.planned_quantity %> <%=@system.unity%> <br>
    <b>Quantidade realizada no período:</b> <%= @system.plannings.last.quantity %> <%=@system.unity%> (<b><font color = "red"><%= @system.plannings.last.quantity_percentage %>%</font></b>)
    <br>
    <br>
    <b>Quantidade realizada até o período:</b>
    <%= @system.accomplished_quantity %> <%=@system.unity%> (<b><font color = "red"><%=@system.quantity_percentage%>%</font></b>)
    <br>
    <b>Quantidade planejada até o período:</b>
    <%= @system.planned_quantity %> <%=@system.unity%>
    </center>
    </span>
    <br>
    <br>
  <% end %>
<%end%>

<% if @system.has_desagregation? then %>
  
  <h4> Subsistemas: </h4>
  <div class= "row">
  <br>
  <% @system.subsystems.each do |subsystem| %>
    <div class="span3">
    <h4><%= link_to subsystem.name, subsystem %></h4>
    <font color= "red"><%= subsystem.completed %>%</font> completo<br>
    Quantidade total estimada: <%= subsystem.total_quantity %> <%= subsystem.unity %><br>
    Quantidade realizada: <%= subsystem.accomplished_quantity %> <%= subsystem.unity %><br><br>
    <b>Ponderadores:</b><br>
    HH: <%= subsystem.hh %><br>
    Porcentagem: <%= subsystem.percentage %>%<br>
    Valor: R$<%= subsystem.value %>
    <br><br>
    </div>
  <%end%>
  </div>
  <br><br>
  <%= button_to "Criar subsistema", new_system_subsystem_path(@system), :method => "get", class: "btn btn-success" %>
<%end%>

<center><strong>
<%= link_to 'Editar', edit_system_path(@system) %> |
<%= link_to "Deletar sistema", @system, method: :delete, data: { confirm: 'Tem certeza que quer deletar esse sistema?' } %>
</center></strong>


