%h1 Listing images

%table
  %tr
    %th Imageable
    %th Imagiable type
    %th
    %th
    %th

  - @images.each do |image|
    %tr
      %td= image.imageable_id
      %td= image.imagiable_type
      %td= link_to 'Show', image
      %td= link_to 'Edit', edit_image_path(image)
      %td= link_to 'Destroy', image, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Image', new_image_path
