= form_for @planning do |f|
  - if @planning.errors.any?
    #error_explanation
      %h2
        = pluralize(@planning.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - @planning.errors.full_messages.each do |msg|
          %li= msg
  %br/
  .field
    = f.label "Data de início:"
    = f.date_select :input_date, :order => [:day, :month, :year], :start_year => Date.current.year
  %br/
  #period-fields-container
    - i = 1
    = f.fields_for :periods do |builder|
      #period-not-to-be-removed
        = builder.label :planned_quantity, "Quantidade planejada no " + i.to_s + "º período"
        = builder.number_field :planned_quantity, :id => "planned-quantity"
        %br/
      - i = i+1
  = link_to "Adicionar período", "#", :id => "add-period"
  |
  \#{link_to "Remover período", "#", :id => "remove-period"}
  %br/
  %br/
  .actions
    = f.submit "OK", class: "btn btn-success"
  %br/
