= form_for @planning do |f|
  - if @planning.errors.any?
    #error_explanation
      %h2
        = pluralize(@planning.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - @planning.errors.full_messages.each do |msg|
          %li= msg
  %br/
  .field
    = f.label "Data de início:"
    = f.date_select :input_date, :order => [:day, :month, :year], :start_year => Date.current.year
  %br/

  - cnt = 1
  / -unless @plannable.plannings.length == 1 && @plannable.plannings.first == @planning
  /   - @plannable.current_planning.periods.each do |period|
  /     - if period.quantity != nil
  /       = "Quantidade planejada no #{cnt}º período: #{period.planned_quantity}"
  /       %br/
  /       = "Quantidade realizada no #{cnt}º período: #{period.quantity}"
  /       %br/
  /       = "Valor planejado no #{cnt}º período: #{period.value_planned}"
  /       %br/
  /       = "Valor realizado no #{cnt}º período: #{period.value_real}"
  /       %br/
  /       %br/
  /       - cnt = cnt+1

  %br/

  #period-fields-container
    = f.fields_for :periods do |builder|
      #period-not-to-be-removed
        %b
          = "#{cnt.to_s} período"
        = builder.label :planned_quantity, "Quantidade planejada no #{cnt.to_s}º período"
        = builder.number_field :planned_quantity, :id => "planned-quantity"
        = builder.label :quantity, "Quantidade realizada no #{cnt.to_s}º período"
        = builder.number_field :quantity, :id => "quantity"
        = builder.label :value_planned, "Valor planejado no #{cnt.to_s}º período"
        = builder.number_field :value_planned, :id => "value_planned"
        = builder.label :value_real, "Valor realizado o #{cnt.to_s}º período"
        = builder.number_field :value_real, :id => "value_real"
        %br/
        %br/
      - cnt = cnt+1
  = link_to "Adicionar período", "#", :class => "add-period", :id => cnt.to_s
  |
  \#{link_to "Remover período", "#", :id => "remove-period"}
  %br/
  %br/
  .actions
    = f.submit "OK", class: "btn btn-success"
  %br/
