<br>
<center>
  <span class="medium_font"><%= @planning.plannable.plannings.count %>º período </span> <span class="small_font"> de <%= link_to @planning.plannable.name, @planning.plannable %> </span>
  <br>
  <br>
  <br><span class="small_font">
   Quantidade planejada no período: <font color= "red"> <%= @planning.planned_quantity %> <%= @planning.plannable.unity %> </font>
  <br>
  <br>
      Quantidade realizada: <font color= "red"> <%= @planning.quantity %> <%= @planning.plannable.unity %> </font> (<%=@planning.quantity_percentage%>% do planejado)
  <br>
  <br>
  <br>
      Início do período: <font color= "red"> <%= @planning.period_begin.to_formatted_s(:rfc822) %> </font>
      <br>
      <br>
      Fim do período: <font color= "red"> <%= @planning.period_end.to_formatted_s(:rfc822) %> </font>
  </span>

</center>